/* Add CSS Styling */
.odd-class{
    background-color: rgb(240, 145, 145);
    font-family: "Verdana",  "DejaVu Sans",  "sans-serif";
}
#id-two{
    color: blue;
    font-size: 36px;
}
#cooler{
    font-size: 24px;
}
#id-four{
    background-color: lightgreen;
    font-size: 24px;
    font-weight: bold;
}